<div class="container">

    <div class="row mt-3">
        <div class="col-md-4 col-xl-3">
            <div class="card p-3 bg-c-first order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Estudiantes del curso</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>16</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card p-3 bg-c-second order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Días de clase</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>17</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card p-3 bg-c-third order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Horas invertidas</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>+170</span></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card p-3 bg-c-fourth order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Horas por estudiantes</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>+2720</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-8">
            <mat-card class="example-card">

                <img mat-card-image src="assets/graph1.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Área para mostrar un mat table
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col">
            <div class="row ">
                <div class="col-12">
                    <mat-card class="example-card">
                        <img mat-card-image src="assets/graph2.png" alt="Photo of a Shiba Inu">
                    </mat-card>
                </div>
                <div class="col-12 mt-3">
                    <mat-card class="example-card">
                        <img mat-card-image src="assets/graph3.png" alt="Photo of a Shiba Inu">

                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>